@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container{
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 80vh;

}

.mainContainer_left{
    flex: 0.5;
}
.mainContainer_right{
    flex: 0.5;
}

.mainContainer_left > p:nth-child(1){
    font-size: 3rem;
}
.mainContainer_left>p:nth-child(2){
    font-size: 2rem;
}
.buttonJoin{
    width: fit-content;
    cursor: crosshair;
user-select: none;
    transition: all 0.3s;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    background-color: sandybrown;
    color: black;
    border-radius: 1rem;
padding: .6rem;

}

.connectimg{
    height: 70vh;
}